nav {
    background-color: #3ba3bc;
}
.contenedor-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch; 
    align-content: space-around;
}
li {
    list-style: none;
    text-align: center;
    margin: 10px;
    transition: text;
}
h1 {
    color: white;
}