nav {
    background-color: aquamarine;
}
.contenedor-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch; 
    align-content: space-around;
}
li {
    list-style: none;
    text-align: center;
    margin: 10px;
}