nav {
    background-color: #3ba3bc;
}
.contenedor-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch; 
    align-content: space-around;
}


li {
    list-style: none;
    text-align: center;
    margin: 10px;
}

a {
    color: white;
    transition: color 2s;
    text-decoration: none;
}

a:hover {
    color: rgb(173, 169, 169);
}
h1 {
    color: white;
}