<%- include("header") %>
    <h1></h1>
        <form action="producto" method="post">
            <div>
                <label for="nom" id="nom">Nombre del producto</label>
                <input type="text" name="nom" id="nom">
                <label for="preu" id="preu">Precio del producto</label>
                <input type="preu" name="preu" id="preu">
                <button type="submit">Enviar</button>
            </div>
        </form>
<%- include("footer") %>