<%- include("header") %>
    <h1></h1>
        <form action="usuario" method="post">
            <div>
                <label for="nom" id="nom">Nombre del usuario</label>
                <input type="text" name="nom" id="nom">
                <label for="Email" id="Email">Email del usuario</label>
                <input type="Email" name="Email" id="Email">
                <button type="submit">Enviar</button>
            </div>
        </form>
<%- include("footer") %>