body{
    background-image: url("https://picsum.photos/id/177/0/0"); 
   
    background-size: cover;

}
.barra-busqueda{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 200px;
    background-color: goldenrod;
    margin: 3px;
}
.origen{
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-top: 30px;
}
.destino{
    display:flex;
    flex-direction: column;
    margin: 1%;
    margin-top: 30px;
}
h3{
    margin: 1%;
}
.ida{
    display:flex;
    flex-direction: column;
    margin: 1%;
    margin-top: 30px;
}
.vuelta{
    display:flex;
    flex-direction: column;
    margin: 1%;
    margin-top: 30px;
}
.pasajero{
    display:flex;
    flex-direction: column;
    margin: 1%;
}
.menu-pasajero{
    width: 10px;
}
.cantidad-pasajero{
    display:flex;
    flex-direction: column;
    margin: 1%;
    margin-top: 18px;
}
.buscar{
    display:flex;
    flex-direction: column;
    margin: 1%;
    margin-top: 20px;
    size: 5%;  
}
.boton-buscar{
    margin: 25px;
}
.A-Corunya{
    position: absolute;
    display: none;
}
.madrid{
    position: absolute;
    display: none;
}
.albacete{
    position: absolute;
    display: none;
}
.algeciras{
    position: absolute;
    display: none;
}
.alicante{
    position: absolute;
    display: none;
}
.almeria{
    position: absolute;
    display: none;
}
.asturias{
    position: absolute;
    display: none;
}
.badajoz{
    position: absolute;
    display: none;
}
.bilbao{
    position: absolute;
    display: none;
}
.burgos{
    position: absolute;
    display: none;
}
.ceuta{
    position: absolute;
    display: none;
}
.lanzarote{
    position: absolute;
    display: none;
}
.cordoba{
    position: absolute;
    display: none;
}
.el-hierro{
    position: absolute;
    display: none;
}
.granada{
    position: absolute;
    display: none;
}
.fuerteventura{
    position: absolute;
    display: none;
}
.girona{
    position: absolute;
    display: none;
}
.gran-canaria{
    position: absolute;
    display: none;
}
.huesca{
    position: absolute;
    display: none;
}
.ibiza{
    position: absolute;
    display: none;
}
.murcia{
    position: absolute;
    display: none;
}
.jerez{
    position: absolute;
    display: none;
}
.barcelona{
    position: absolute;
    display: none;
}
.la-gomera{
    position: absolute;
    display: none;
}
.la-palma{
    position: absolute;
    display: none;
}
.leon{
    position: absolute;
    display: none;
}
.logronyo{
    position: absolute;
    display: none;
}
.madrid-cuatro-vientos{
    display: none;
}
.melilla{
    position: absolute;
    display: none;
}
.menorca{
    position: absolute;
    display: none;
}
.malaga{
    position: absolute;
    display: none;
}
.mallorca{
    position: absolute;
    display: none;
}
.pamplona{
    position: absolute;
    display: none;
}
.reus{
    position: absolute;
    display: none;
}
.sabadell{
    display: none;
}
.salamanca{
    position: absolute;
    display: none;
}
.san-sebastian{
    position: absolute;
    display: none;
}
.santiago{
    position: absolute;
    display: none;
}
.santander{
    position: absolute;
    display: none;
}
.sevilla{
    position: absolute;
    display: none;
}
.son-bonet{
    position: absolute;
    display: none;
}
.tenerife-norte{
    position: absolute;
    display: none;
}
.tenerife-sur{
    position: absolute;
    display: none;
}
.valencia{
    position: absolute;
    display: none;
}
.valladolid{
    position: absolute;
    display: none;
}
.vigo{
    position: absolute;
    display: none;
}
.vitoria{
    position: absolute;
    display: none;
}
.zaragoza{
    position: absolute;
    display: none;
}