body, header, nav, main, footer, h1, h2 {
    margin: 0;
}
header {
    padding: 20px;
    background-color: #ffe4c4;
}
nav {
    box-align: left;
    background-color: #f9f4e9;
    float: left;
    width: 220px;
    padding: 20px;
}

main {
    box-align: right;
    background-color: #fff5e1;
    margin-left: 220px;
    padding: 20px;
}
footer {
    background-color: #eed6af;
    text-align: center;
    clear: both;
    padding: 20px;
}