body {
    background-color: aliceblue;
}
.contenedor-especial::after {
content: "\221E";
}
@media screen and (max-width: 1200px) {
    body {
        background-color: rgb(22, 247, 255);
    }
    .contenedor-especial::after {
        content:"1200px";
    }
}
@media screen and (max-width: 900px) {
    body {
        background-color: red;
    }
    .contenedor-especial::after {
        content: "900px";
    }
}
@media screen and (max-width: 700px) {
    body {
        background-color: green;
    }
    .contenedor-especial::after {
        content: "700px";
    }
}
@media screen and (max-width: 500px) {
    body {
        background-color: yellow;
    }
    .contenedor-especial::after {
        content: "500px";
    }
}