h1 {
    text-align: center;
}
.contenedor-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch; 
    align-content: center;
}
div {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 10px;
    box-shadow: 0px 0px 5px black;
    justify-content: space-around;
}